.scoreBoard {
  width: 220px;
  margin: 8px auto 0;
  padding: 0 30px 16px;
  border: 1px solid #333;
  overflow: hidden;
  box-sizing: content-box;
}
.position,
.startingMember {
  float: left;
}
.position > li {
  width: 60px;
  height: 60px;
  line-height: 60px;
  font-size: 24px;
  color: #FFF79A;
  font-weight: bold;
  text-align: center;
  list-style: none;
  border-right: 1px solid #fff;
  background-color: #023CA6;
}
.startingMember > li {
  width: 160px;
  height: 60px;
  line-height: 60px;
  font-size: 24px;
  color: #fff;
  text-align: center;
  background-color: #023CA6;
}
.position > li,
.startingMember > li {
  margin-top: 16px;
}
